.technical-skills {
    text-align: center;
    padding: 3rem 10%;
    background: #1b1b1b;
    color: white;
}

.technical-skills h2 {
    font-size:4rem;
    margin-bottom: 1.5rem;
    color: #ffcc00;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.skill-card {
    background: #222;
    padding: 1.5rem;
    border-radius: 10px;
    width: 270px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.skill-card h3 {
    font-size: 1.8rem;
    color: #00ffcc;
    margin-bottom: 0.8rem;
}

.skill-card p {
    font-size: 1.4rem;
    color: #ddd;
font-weight: bold;
}
